<h4 class='text-primary'>
  <i class='fas fa-file-contract'></i>
  &nbsp;&nbsp;
  Richieste Pratica
</h4>
<hr class='hr-primary'>
<br/>
<%= render @requests %>
<hr class='hr-primary'>
<%= paginate @requests %>
