<h5 class='text-primary'>
  <i class='fas fa-file-contract'></i>
  &nbsp;&nbsp;
  Richiesta Pratica n° <%= @request.name %> del <%= l(@request.date) %>
  <br/>
  <small>
    (&nbsp;&nbsp;Creata da : 
    <%= "#{@request.operator.name} #{@request.operator.last_name} - #{@request.operator.category} - #{@request.operator.phone}" %>&nbsp;&nbsp;)
  </small>
  <span class='float-right'>
    <%= link_to 'Ritorna alla Lista', requests_path %>
  </span>
</h5>
<br/>
<hr class='hr-primary'/>
