<div class='row'>
  <div class='col-lg text-center'>
    <br/>
    <br/>
    <%= image_tag('logo_davosky_connection.svg', class: 'img-fluid') %>
    <br/>
    <br/>
    <hr class='hr-primary'/>
    <h3 class='text-primary'>
      The Davosky Connection
    </h3>
    <h5>
      <a href='mailto:davodavosky@gmail.com'>
        by Davo Davodsky
      </a>
    </h5>
    <br/>
    <br/>
    <h3 class='text-primary'>
      FiscalGangNext
    </h3>
    <span class='text-primary'>
      Applicazione WEB scritta in <a href='https://rubyonrails.org/' target='_blank'>RubyOnRails</a>
      <br/>
      sono stati usati <a href='https://getbootstrap.com/' target='_blank'>Bootstrap</a> come front-end e <a href='https://fontawesome.com' target='_blank'>FontAwesome</a> per le icone
    </span>
    <br/>
    <h4 class='text-primary'>
      Versione 1.0.1
    </h4>
  </div>
</div>
