<div class='row'>
  <div class='col-12 text-center'>
    <%= image_tag('main_logo.svg', class: 'img-fluid') %>
    <hr/>
    <br/>
    <h4 class='text-primary'>
      Gestione Richieste Appuntamenti per pratiche CAAF - CGIL Trieste
    </div>
  </h4>
</div>
